@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #242635;
}

.nav{
    background-color:#242635;
    color: #FFFFFF;
    padding: 8px 12px;
    border-style: solid;
    border-width: 8px;
    border-color: #242635;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
    
}

li:hover{
    color: rgb(128, 128, 128);
    text-decoration: underline whitesmoke 1px;
    cursor: pointer;

}
li:active{
    color:#34B0BE;
    text-decoration: underline rgb(20, 92, 92) 3px;
}
.lista{
    display: flex;
    justify-content: end;
    gap: 30px;

}

ul li{
    list-style-type: none;
    padding: 20px;
    }
