@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --color-principal:#03051c;
    --color-secundario:#242635;
    --color-titulos: #34B0BE;
    --color-gris:#D1CECA;
    --color-blanco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-blanco);
    background-color: var(--color-principal);
}

header{
    background-color: var(--color-principal);
    position: relative;
    height: 100%;
}

nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

input#menu-hamburguesa{
    visibility: hidden;
}
input#menu-hamburguesa ~ ul{
    background-color: var(--color-principal);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100vh;
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 3;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
}

.section-header{
    display: flex;
    justify-content: center;
    width: auto;
    height: 80vh;
    margin-top: 7rem;
}

.section-header > .conjunto-1{
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 4rem;
    margin-top: 7rem;
}

.section-header > .conjunto-2{
    position: absolute;
    right: 5%;
    top: 5rem;
    margin-top: 7rem;
    
}

.section-header > .conjunto-1 h1{
    font-weight: 100;
    font-size: 1.5rem;
}

.section-header > .conjunto-1 h2{
    color: var(--color-titulos);
    font-size: 3rem;
    border-bottom: solid white 2px;
    width: 150px;
    font-weight:900;
}

.section-header > .conjunto-1 h3{
    font-weight: 100;
    font-size: 1rem;
    margin-top: 10px;
}

.fondo{
    border-style:solid ;
    border-color: var(--color-secundario);
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-secundario);
    width: 60vw;
    height: 60vw;
    max-width: 357px;
    max-height: 357px;
    z-index: 0;
}

.section-header > .conjunto-2 h1{
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--color-titulos);
}

.section-header > .conjunto-2 h2{
    font-weight: 100;
    font-size: 1.5rem;
}

.section-header > .conjunto-2 div{
    display: flex;
    margin-top: 5px;
    gap: 10px;
}

.section-header > .conjunto-2 > div .imagen{
    margin-top: 5px;
    border-style: solid;
    border-color: var(--color-gris);
    background-color: var(--color-gris);
    border-radius: 50%;
    padding: 2px;
}

.section-header > .conjunto-3 {
    display: flex;
    border: solid;
    border-color: var(--color-titulos);
    background-color: var(--color-secundario);
    position: absolute;
    top: 75vw;
    width: 90%;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    gap:20px;
    max-width: 480px;
    margin-top: 7rem;
}

.section-header > .conjunto-3 > div {
    border-style: solid;
    border-color: var(--color-gris);
    background-color: var(--color-gris);
    height: 60px;
    width: 90px;
    border-radius: 17%;
}

.section-header > .conjunto-3 > div > img{
    display: block;
    max-height: 50px;
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.acerca-de-mi{
    background-color: var(--color-principal);
    position: relative;
    height: auto;
}

.acerca-de-mi > h1{
    text-align: center;
    color: var(--color-titulos);
    font-size: 2rem;
    font-weight: 900;
}

.acerca-de-mi > p{
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    font-weight: 100;
}

.servicios{
    background-color: var(--color-principal);
    position: relative;
    height: auto;
    padding: 40px 20px;
}
.servicios > h1{
    text-align: center;
    color: var(--color-titulos);
    font-size: 2rem;
    font-weight: 900;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.servicios > .tipos-servicios{
    display: flex;
    gap: 12px;
    padding: 20px;
    overflow: scroll;
    margin-top: 15px;
    box-sizing:content-box;
    width: auto;
}

.servicios > .tipos-servicios > div{
    background-color: var(--color-blanco);
    color: var(--color-gris);
    background-image:url(../images/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 180px;
    height:250px;
    padding: 5px;
    text-align: center;
    border-radius: 3%;
    position: relative;
    min-width: 160px;
}

.servicios > .tipos-servicios > div img{
    width: 90px;
    height: 90px;
}

.servicios > .tipos-servicios > div h1{
    font-size: 1rem;
    font-weight: 900;
    color: black;
    margin-top: 12px;
}

.servicios > .tipos-servicios > div p{
    font-size: .8rem;
    font-weight: 100;
    position: absolute;
    bottom: 40px;
    flex-wrap: wrap;
}

.habilidades{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.habilidades > h1{
    text-align: center;
    color: var(--color-titulos);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.habilidad{
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.habilidad > label {
    margin-bottom: .5rem;
}


/* background: */
progress::-webkit-progress-bar {
    background-color: #f9f5f2;
    height: 1.25rem;
    width: 100%;
    border-radius: 1rem;
}

progress {
    width: 100%;
    border-radius: 1rem;background-color: #f9f5f2;
    height: 1.25rem;
    border-radius: 1rem;
    color: var(--color-titulos);
    
}

/* value: */

progress::-webkit-progress-value {
    background-color: var(--color-titulos);
    border-radius: 1rem;
}

progress::-moz-progress-bar {
    background-color: var(--color-titulos);border-radius: 1rem;
}

.portafolio > h1{
    text-align: center;
    color: var(--color-titulos);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.portafolio > div{
    overflow: scroll;
    display: flex;
    padding: 0rem 2rem;
    gap: 1.5rem;
}

.portafolio > div img{
    max-width: 341px;
    max-height: 225px;
}


.contacto h1{
    text-align: center;
    color: var(--color-titulos);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.contacto > .iconos{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.contacto > .iconos > .email{
    margin-left: 117px;
}


.contacto > .iconos> a img{
    height: 60px;
    width: 60px;
}

.contacto > .iconos > a{
    display: flex;
    background-color: var(--color-blanco);
    width: 140px;
    height: 140px;
    border-radius: 3%;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    background-size:contain;
    text-decoration: none;
}
 .contacto > .iconos > a > .imagen{
    padding-top: 20px;
 }
 .contacto > .iconos > a > .texto-1{
     color: black;
     font-size: .8rem;
     font-weight: 900;
 }
 .contacto > .iconos > a > .texto-2{
    color: var(--color-gris); 
    font-size: .6rem;
    padding-top: 8px;
 }
 .contacto > .iconos > .email a{
     display: block;
     height: 140px;
     width: 140px;
 }
























@media screen and ( max-width: 399px ){
    
    .section-header > .conjunto-1 h1{
        font-size: 1rem;
    }
    .section-header > .conjunto-1 h2{
        font-size: 2rem;
        width: 110px;
    }
    .section-header > .conjunto-1 h3{
        font-size: .78rem;
    }

    .section-header > .conjunto-2{
        width: 100px;
    }

    .section-header > .conjunto-2 h1{
        font-size: 1rem;
    }
    
    .section-header > .conjunto-2 h2{
        font-size: 1rem;
    }
    
    .section-header > .conjunto-2 div{
        margin-top: 5px;
        justify-content: center;
        gap: 8px;
    }
    
    .section-header > .conjunto-2 > div .imagen{
        margin-top: 5px;
        padding: 3px;
    }

    .section-header > .conjunto-2 > div img{
        max-height: 15px;
        max-width: 15px;
    }
    
    .section-header > .conjunto-3 > div > img{
        max-height: 35px;
        max-width: 35px;
    }

    .section-header > .conjunto-3 > div {
        height: 40px;
        width: 60px;
        border-radius: 17%;
    }

    .section-header > .conjunto-3 {
        width: 80%;
        height: 70px;
        gap:20px;
        border-color: var(--color-secundario);
    }

}

@media screen and ( min-width: 540px ){
    .section-header > .conjunto-3 {
        top: 400px;
        gap: 40px; 
    }

    .section-header > .conjunto-1 h1{
        font-size: 2.5rem;
    }
    .section-header > .conjunto-1 h2{
        font-size: 3.5rem;
        width: 180px;
    }
    .section-header > .conjunto-1 h3{
        font-size: 1.3rem;
    }

    .section-header > .conjunto-2{
        width: 150px;
    }

    .section-header > .conjunto-2 h1{
        font-size:1.5rem;
    }
    
    .section-header > .conjunto-2 h2{
        font-size: 1.5rem;
    }
    
    .section-header > .conjunto-2 div{
        margin-top: 10px;
        justify-content: center;
        gap: 15px;
    }
    
    .section-header > .conjunto-2 > div .imagen{
        margin-top: 5px;
        padding: 5px;
    }
}

@media screen and ( min-width: 650px ){
    
    .section-header > .conjunto-3 {
        top: 420px;
        gap: 40px; 
    }

    .section-header > .conjunto-1 h1{
        font-weight: 100;
        font-size: 3rem;
        border-bottom: solid white 2px;
        width: 200px;
    }
    
    .section-header > .conjunto-1 h2{
        font-size: 4.5rem;
        border-bottom: transparent 2px;
        font-weight:900;
    }
    
    .section-header > .conjunto-1 h3{
        font-weight: 100;
        font-size: 1.5rem;
        width: 250px;
        margin-top: 0;
    }

    .section-header > .conjunto-2{
        width: 180px;
    }

    .section-header > .conjunto-2 h1{
        font-size:2rem;
    }
    
    .section-header > .conjunto-2 h2{
        font-size: 2rem;
    }
    
    .section-header > .conjunto-2 div{
        gap: 15px;
    }
    .section-header > .conjunto-2 > div img{
        height: 34px;
        width: 34px;
    }
}

@media screen and ( min-width: 768px ) {
    nav label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}