@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --color-principal:#03051c;
    --color-secundario:#242635;
    --color-titulos: #34B0BE;
    --color-gris:#D1CECA;
    --color-blanco: #FFFFFF;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #03051c;
}

header{
    height: 100vh;
    width: 100vw;
}

.nav{
    background-color:#03051c;
    color: #FFFFFF;
    padding: 8px 12px;
    border-style: solid;
    border-width: 8px;
    border-color: #03051c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}

li:hover{
    color: rgb(128, 128, 128);
    text-decoration: underline whitesmoke 1px;
    cursor: pointer;

}
li:active{
    color:#34B0BE;
    text-decoration: underline rgb(20, 92, 92) 3px;
}
.lista{
    display: flex;
    justify-content: end;
    gap: 30px;

}

ul li{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    }

.section-header{
    width: 100vw;
    height: 100vh;
    padding: 5rem 3rem;
    position: relative;
    }   

.conjunto-1{
    position: absolute;
    left: 125px;
    }

.section-header > .conjunto-1 h1{
    color: #FFFFFF;
    border-bottom: solid white 4px;
    width: 25rem;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-size: 5rem;
    font-weight: 300;
    }

.section-header > .conjunto-1 h2{
     font-size: 10rem;
     color: var(--color-titulos);
     font-family: 'Montserrat', sans-serif;
     width: 60rem;

     }
.section-header > .conjunto-1 h3{
    color: var(--color-blanco);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    width: 50rem;
}
.fondo{
    background-color: var(--color-secundario);
    border-style: solid var(--color-secundario);
    height: 55rem;
    width: 55rem;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 30vw;
    z-index: -1;

}

.conjunto-2{
    text-align:left;
    margin-right: 1rem;
}

.section-header > .conjunto-2 h1{
    font-size: 4rem;
    color: var(--color-titulos);
    font-family: 'Montserrat', sans-serif;
    width: 60rem;
}
.section-header > .conjunto-2 h2{
    font-size: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 60rem;
}