@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --color-principal:#03051c;
    --color-secundario:#242635;
    --color-titulos: #34B0BE;
    --color-gris:#D1CECA;
    --color-blanco: #FFFFFF;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #03051c;
}

.nav{
    background-color:#03051c;
    color: #FFFFFF;
    padding: 8px 12px;
    border-style: solid;
    border-width: 8px;
    border-color: #03051c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}

li:hover{
    color: rgb(128, 128, 128);
    text-decoration: underline whitesmoke 1px;
    cursor: pointer;

}
li:active{
    color:#34B0BE;
    text-decoration: underline rgb(20, 92, 92) 3px;
}
.lista{
    display: flex;
    justify-content: end;
    gap: 30px;

}

ul li{
    list-style-type: none;
    padding: 20px;
    }

.section-header{
    padding: 2rem 3rem;
}

.section-header > div h1{
    color: #FFFFFF;
    border-bottom: solid white 4px;
    width: 15rem;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-size: 4rem;
    font-weight: 300;
    }

.section-header > div h2{
     font-size: 6rem;
     color: var(--color-titulos);
     font-family: 'Montserrat', sans-serif;
     width: 60rem;
     }
.section-header > div h3{
    display: inline-block;
    color: var(--color-blanco);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    width: 500px;
}
.fondo{
    display: flex;
    background-color: var(--color-secundario);
    border-style: solid var(--color-secundario);
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    position: relative;
    top:-280px;
    left: 23vw;
    z-index: -1;

}